extends ../../layouts/default

block css
    head
        style
            include style.css

block intro
 .page-intro: .container
  h1.page-title Listing des documents

block content
    if data.docs.length > 0
        div#nbdocs
            h3 There are #{data.docs.length} Documents
            each doc, index in data.docs
                h1 #{ doc.documentName}
                p #{ doc.category }
                p #{ doc.teacher }
                p #{ doc.uploadedOn }
                p
                 a(href=doc.download) Download the subject
                if data.docs.length != index + 1
                    hr