extends ../../layouts/default

block js
	script(src="/js/views/post.js")

block intro
	.page-intro: .container
		h1.page-title Listing des documents

block content
	.row
		div(class=!data.docs.length ? 'col-md-10' : 'col-md-10 col-md-offset-1')
				if data.docs.length
					.post-cards.row(itemscope itemtype="http://schema.org/Blog")
						each doc, index in data.docs
							.post.type-post.status-publish.format-standard.hentry.category-uncategorized.entry
								.entry-author-container
									a(href=doc.teacher.url): img(src=(doc.teacher.photo.exists ? doc.teacher._.photo.thumbnail(360,360) : doc.teacher.avatarUrl || '/images/avatar.png'), alt=doc.teacher.name.full, width=90, height=90)
									.entry-author-detail
										p.entry-author= doc.teacher.name.full
										p.entry-date= 'Créé le ' + moment(doc.createdAt).format('D/MM/YYYY')
										p.entry-content!= doc.desc.html
										if doc.students
											ul
											each student in doc.students
												p.students-list Etudiants associés : 
													li 
														a(href=student.url)= student.name.full												
								.floatclear
								br
								a(href=doc.download).alert-link Consulter le sujet
				else
					h3.text-muted Il n'y a pas de sujets.
