extends ../../layouts/default

block js
	

block intro
	.page-intro: .container
		h1.page-title Listing des documents
		p.lead
			| Page regroupant les projets soumis par les professeurs.&nbsp;

block content
	.row
		div(class=!data.docs.length ? 'col-md-10' : 'col-md-10 col-md-offset-1')
				if data.docs.length
					.post-cards.row(itemscope itemtype="http://schema.org/Docs")
						each doc, index in data.docs
							div#projet
								.post.type-post.status-publish.format-standard.hentry.category-uncategorized.entry
									.entry-author-container
										a(href=doc.teacher.url): img(src=(doc.teacher.photo.exists ? doc.teacher._.photo.thumbnail(360,360) : doc.teacher.avatarUrl || '/images/avatar.png'), alt=doc.teacher.name.full, width=90, height=90)
										.entry-author-detail
											p.entry-author= 'Posté par ' + doc.createdBy.name.full
											p.entry-date= 'Créé le ' + moment(doc.createdAt).format('D/MM/YYYY')
											br
											p.entry-content!= doc.desc
											if doc.students
												br
												div#students
													ul
													p.students-list Etudiants associés au projet :
													each student in doc.students												 
															li 
																a(href=student.url)= student.name.full
											if doc.teacher
												div#teacher(style="margin-left:285px; margin-top:-109px")
													ul
													p.teachers-list Enseignant encadrant :								
														li 
															a(href=doc.teacher.url)= doc.teacher.name.full

									.floatclear
									br
									br
									br
									if doc.upload
										a(href=doc.download).alert-link -> Consulter le sujet
										br
										div#post
											.comments
												- var cptComment = 0
												for comment in data.coms
													if comment.doc.equals(doc.id)
														if comment.author
														- cptComment = cptComment + 1
												h4.mb-1=cptComment == 0 ? 'Soyez le premier à commenter !' : plural(cptComment, '* commentaire', '* commentaires')
												for comment in data.coms
													if comment.doc.equals(doc.id)														
														if comment.author
															.comment.media
																.pull-left
																	img(src=user.photo.exists ? user._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=user.name.full, width=40, height=40).media-object.img-circle
																.media-body
																	h6.mt-0
																		=user.name.full
																		span.text-muted  &middot; #{moment(comment.date).fromNow()}
																	!=comment.content.html

											if user
											//- Reply form
											form(method='post').comment-form.mt-5
												input(type='hidden' name='docId' value='#{doc.id}')
												input(type='hidden', name='action', value='create-comment-doc')
												.media
													.pull-left
														img(src=user.photo.exists ? user._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=user.name.full, width=40, height=40).img-responsive.img-circle
													.media-body
														textarea(placeholder='Ajouter votre commentaire...', name='content').form-control
														.mv-1
															button(type='submit').btn.btn-success Envoyer										
									else
										h3.text-muted Pas de fichiers attachés.
				else
					h3.text-muted(style="margin-left:28%;") Il n'y a pas encore de sujet disponible pour votre formation.