extends ../../layouts/default

include ../../mixins/post

block js
	script(src="/js/views/post.js")
	script(src='http://listjs.com/no-cdn/list.js')
	script.
		var options = {
			valueNames: [ 'name' ]
		};
		var groupesList = new List('groups-list', options);

block intro
	.group-intro
		.group-info
			img(src=(group.logo.exists ? group._.logo.thumbnail(120,120) : '/images/avatar.png'), alt=group.name, width=120, height=120)
			h1()=group.name
			p= "Crée par "
				a(href=group.author.url)=group.author.name.first + " " + group.author.name.last
				form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate)
				if isFollowed
					input(type='hidden', name='action', value='me.desabonnement')
					button(type='submit', data-loading-text="...").btn.btn-primary Se désabonner
				else
					input(type='hidden', name='action', value='me.abonnement')
					button(type='submit', data-loading-text="...").btn.btn-primary S'abonner
		.group-desc
			if group.description
				p!= group.description.html
			else
				h3 Aucune description n\'a été renseignée
		.clearFloat

block content
	.group-container
		.posts-list
			if group.posts
				each post in group.posts
					+post(post)
			else
				h3.text-muted There are no posts yet.
		.list-abo
			h4 Abonnés
			each member in group.members
				p
					a(href=member.url)
						img(src=(member.photo.exists ? member._.photo.thumbnail(60,60) : member.gravatarUrl || '/images/avatar.png'), width=27).img-circle
						span= member.name.full
		.clearFloat
