extends ../../layouts/default

block intro

block flash-messages

block content
	.container-sm
		.page-intro
			p.lead Bonjour #{user.name.first}, voici les paramètres
				a(href=user.url)  de votre profil
			//- if nextMeetup
				.alert.alert-info
					span.entypo.entypo-calendar
					|  The next meetup has been announced -
					a(href=nextMeetup.url).alert-link= nextMeetup._.startDate.format('dddd D MMM YYYY')
		.page-content.tile.ph-2.pv-2.mb-2
			+flash-messages(messages)
			form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal
				input(type='hidden', name='action', value='profile.details')
				h3 Information
				.form-group
					label.col-sm-2.control-label Nom
					.col-sm-10: .form-row
						.col-xs-6: input(type='text', name='name.first' value=user.name.first).form-control
						.col-xs-6: input(type='text', name='name.last' value=user.name.last).form-control

				.form-group
					label.col-sm-2.control-label Email
					.col-sm-10: input(type='email', name='email' value=user.email).form-control

				.form-group
					label.col-sm-2.control-label Formation
					.col-sm-10: select(type='formation', name='formation' ).form-control
						each i in [ 'L3','M1','M2']
							if i == user.formation
								option(value=i selected) #{i}
							else
								option(value=i) #{i}

				.form-group
					label.col-sm-2.control-label Entreprise
					.col-sm-10: input(type='entreprise', name='entreprise' value=user.entreprise).form-control

				.form-group
					strong.col-sm-2.control-label Notifications
					.col-sm-10
						.checkbox: label
							input(type='checkbox', name='notifications.posts' value='true' checked=user.notifications.posts)
							|  Lors de la publication d'un post

				hr.mv-2
				h3 Education
				.form-group
					strong.col-sm-2.control-label Type
					.col-sm-10: select(type='type', name='type' ).form-control
						each i in ['Etudiant', 'Ancien']
							if i == user.type
								option(value=i selected) #{i}
							else
								option(value=i) #{i}				
				.form-group
					label.col-sm-2.control-label J'ai...
					.col-sm-10
						input(type='text', name='mentoring.have', placeholder='eg; Ruby, Python', value=user.mentoring.have).form-control
				.form-group
					label.col-sm-2.control-label J'aimerai...
					.col-sm-10
						input(type='text', name='mentoring.want', placeholder='eg; HTML, CSS', value= user.mentoring.want).form-control


				hr.mv-2
				h3 Réseaux Sociaux
				p.help-block.mb-2 Vous pouvez vous authentifier avec les réseaux sociaux suivants. Certains d'entre eux seront affichés sur votre profil.


				//- Unconfigured Services

				if !user.services.github.isConfigured
					.form-group
						label.col-sm-2.control-label Github
						.col-sm-10
							a(href='/auth/github', title='Connect your Github account').btn.btn-github
								span.entypo-social.entypo-github
								|  Connect your Github account
				if !user.services.twitter.isConfigured
					.form-group
						label.col-sm-2.control-label Twitter
						.col-sm-10
							a(href='/auth/twitter', title='Connect your Twitter account').btn.btn-twitter
								span.entypo-social.entypo-twitter
								|  Connect your Twitter account
				if !user.services.google.isConfigured
					.form-group
						label.col-sm-2.control-label Google
						.col-sm-10
							a(href='/auth/google', title='Connect your Google account').btn.btn-google
								span.entypo-social.entypo-google-circles
								|  Connect your Google account
				if !user.services.facebook.isConfigured
					.form-group
						label.col-sm-2.control-label Facebook
						.col-sm-10
							a(href='/auth/facebook', title='Connect your Google account').btn.btn-facebook
								span.entypo-social.entypo-facebook
								|  Connect your Facebook account


				//- Configured Services

				if user.services.github.isConfigured || user.services.twitter.isConfigured || user.services.google.isConfigured || user.services.facebook.isConfigured
					hr.line-dashed
				if user.services.github.isConfigured
					.form-group
						label.col-sm-2.control-label Github
						.col-sm-10.text-muted.faux-label
							span.entypo-social.entypo-github
							|  Your account is connected.
							a(href='?disconnect=github', title='Revoke authorization of your Github account') Disconnect
				if user.services.twitter.isConfigured
					.form-group
						label.col-sm-2.control-label Twitter
						.col-sm-10.text-muted.faux-label
							span.entypo-social.entypo-twitter
							|  Your account is connected.
							a(href='?disconnect=twitter', title='Revoke authorization of your Twitter account') Disconnect
				if user.services.google.isConfigured
					.form-group
						label.col-sm-2.control-label Google
						.col-sm-10.text-muted.faux-label
							span.entypo-social.entypo-google-circles
							|  Your account is connected.
							a(href='?disconnect=google', title='Revoke authorization of your Google account') Disconnect
				if user.services.facebook.isConfigured
					.form-group
						label.col-sm-2.control-label Facebook
						.col-sm-10.text-muted.faux-label
							span.entypo-social.entypo-facebook
							|  Your account is connected.
							a(href='?disconnect=facebook', title='Revoke authorization of your Facebook account') Disconnect


				//- Public Info

				hr.mv-2
				h3 Informations publiques
				.form-group
					label.col-sm-2 Publique
					.col-sm-10
						label.checkbox-inline
							input(type='checkbox', name='isPublic', value='true', checked=user.isPublic ? 'true' : null)
							|  Mon profil est publique
				.form-group
					label.col-sm-2.control-label Website
					.col-sm-10: input(type='text', name='website' value=user.website).form-control
				.form-group
					label.col-sm-2.control-label Bio
						br
						.text-muted
					.col-sm-10
						textarea(name='bio', rows=5).form-control=user.bio.md

				.form-group
					label.col-sm-2.control-label Photo
					.col-sm-10
						if user.photo.exists
							.row
								.col-sm-3: img(src=user._.photo.thumbnail(120,120)).img-responsive
								.col-sm-9: input(type='file', name='photo_upload')
						else
							input(type='file', name='photo_upload')
				.form-group
					label.col-sm-2.control-label Mentor
					.col-sm-10
						.checkbox: label
							input(type='checkbox', name='mentoring.available', value='true', checked=user.mentoring.available)
							|  Disponible en tant que mentor
				.mentoring-fields
					.form-group
						.col-sm-10.col-sm-offset-2
							.checkbox: label
								input(type='checkbox', name='mentoring.free', value='true', checked=user.mentoring.free)
								|  Gratuitement
							.checkbox: label
								input(type='checkbox', name='mentoring.paid', value='true', checked=user.mentoring.paid)
								|  Payant
							.checkbox: label
								input(type='checkbox', name='mentoring.swap', value='true', checked=user.mentoring.swap)
								|  Donant donant
				hr.mv-2
				button(type='submit', data-loading-text="Saving...").btn.btn-primary Sauvegarder

		.ui-reveal
			.ui-reveal__initial
				button(type='button').btn.btn-link.ui-reveal__trigger Changer de mot de passe
			.ui-reveal__hidden
				form(method='post', autocomplete='off')
					input(type='hidden', name='action', value='profile.password')
					h3 Changer de mot de passe
					.form-group
						label(for='change-passwordNew').sr-only Nouveau mot de passe
						input(type='password', name='password', placeholder='Nouveau mot de passe', id='change-passwordNew').form-control
					.form-group
						label(for='change-passwordConfirm').sr-only Confirmation du nouveau mot de passe
						input(type='password', name='password_confirm', placeholder='Confirmation du nouveau mot de passe', id='signin-passwordConfirm').form-control
					.form-group
						button(type='submit', data-loading-text="Changing...").btn.btn-primary Changer

block js
	script(src='/js/views/me.js')
